.footer{
    background-color: rgb(165, 230, 202);
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(132, 210, 176);
}
.footer p{
    padding-top: 20px;
    font-size: 20px;
}