.sidebar{
    background-color: rgb(80, 80, 80);
    width: 20%;
    height: 400px;
    float: left;
    display: block;
    color: white;
}
.title{
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}